{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
	{% if validlink %}
	<h1>Password New</h1>

	<form action="" method="post">
		{% csrf_token %}

		{{  form.new_password1.errors }}
		<label for="id_new_password1">Password New: </label> {{ form.new_password1 }}

		{{  form.new_password2.errors }}
		<label for="id_new_password2">Password Again: </label> {{ form.new_password2 }}

		<input type="submit" value="Change my password">


	</form>

	{% else %}

	<h2 class="text-center">Invalid link: This link has already been used :(</h2>
	
	{% endif %}

{% endblock %}